@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@font-face {
    font-family: "Gotham";
    src: url(Assets/Gotham.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #ffffff;
    overflow-x: hidden;
}
h1 {
    width: 100%;
    height: auto;
    font-size: 26vw;
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    color: #DDAAFF;
    letter-spacing: -14px;
    position: relative;
    z-index: 2;
}
h2 {
    width: fit-content;
    font-size: 2vw;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    color: #ffffff;
    padding: 2vh 4vw;
    background-color: #522A6F;
    border-radius: 60px;
}
p {
    color: #3a3a3a;
    font: 500 16px "Plus Jakarta Sans";
}
.hero {
    width: 100vw;
    height: fit-content;
    padding: 0 69px;
    background-color: #f5eafc;
    overflow-x: hidden;
}
.hero-construrtor {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.con-hero {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.passion {
    height: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2:nth-child(1) {
    margin-right: 50vw;
    z-index: 3;
}
h2:nth-child(2) {
    margin-left: 50vw;
    margin-bottom: 9vw;
    z-index: 1;
}
h2:nth-child(3) {
    margin-left: 10vw;
    z-index: 3;
}
.con-hero-det {
    width: 100%;
    bottom: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.con-hero-det p {
    text-align: end;
}
.works {
    background-color: #ffffff;
    padding: 0 69px;
    margin-top: 50px;
    
}
h3 {
    width: 241px;
    height: 46px;
    font-family: "Plus Jakarta Sans";
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 50px;
}
.showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fafafa;
    
}
.gallery img {
    filter: saturate(0%);
    transition: 0.3s;
}
.gallery img:hover {
    filter: saturate(100%);
    cursor: url('Assets/cursor.webp'), auto;
}